*{
    margin: 0; 
    padding: 0; 
    font-family: Cambria,Georgia,serif;
/*    background: black; */
}
/*Design features for div I made in html*/
.main {
    width:  100%; 
    height: 90vh; 
    position: relative; 
    overflow: hidden; 
    background: linear-gradient(gray, whitesmoke); 
}

.work{
/*    width: 90%; */
    margin-left: 50px; 
    margin-right: 50px; 
    /*height: 300vh; increase if we wanna make length of page longer*/
    position: relative; 
    overflow: hidden; 
    background-color: whitesmoke; 
    padding: 25px; 
}

.about-me{
    width:  100%; 
    height: 30vh; 
    position: relative; 
    overflow: hidden; 
    background-color: white; 
}

.footer{
    width:  100%; 
    height: 20vh; 
    position: relative; 
    overflow: hidden; 
    background-color: black; 
}

.header {
    width:  100%; 
    height: 9vh; 
    position: relative; 
    overflow:inherit; 
/*    overflow: hidden; */
    background-color: black; 
}

/*Front page - not sure if nav is working without a period first.*/
nav{
    width: 85%;
    height: auto; 
    position: sticky; 
/*    overflow: hidden; */
    margin: auto auto; 
    z-index: 1; 
}

/*Front page - headshot/logo dimensions*/
.logo{
    flex-basis: 20%; 
    text-align:left; 
    position: absolute; 
    bottom: -500px; 
/*    right: 450px; */
}

.logo img{
    width: 400px;
    height: 100%; 
    border-radius: 50%; /* circular image */ 
}

.experience_images{
    flex-basis: 20%; 
    text-align: center; 
    display:flex; 
/*    margin: 25px;*/
    margin-left: 70px; 
    margin-right: 70px; 
    margin-bottom: 10px; 
/*    width: 0%; */
/*    bottom: 20px; */
/*    box-shadow: 0 3px 10px #8b8eaf; */

/*    background-color: whitesmoke; */
}


.experience_images img{
    width: 400px;
    height: auto; 
    display:flex; 
    margin-left: 20px;
    margin-right: 20px;
/*
    margin-left: 35px;
    margin-right: 35px; 
*/
    margin-top: 20px; 
    margin-bottom: 10px; 
    background-color: whitesmoke;
/*    bottom: 20px; */
/*    text-align: center;*/
}

.work_images{
    flex-basis: 20%; 
    text-align: center; 
    display:flex; 
    margin: 25px;
    width: 0%; 
/*    vertical-align: text-bottom;*/
}

.work_images img{
    width: 300px;
    height: auto; 
    display:flex; 
    margin-left: 35px;
    margin-right: 35px; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    background-color: whitesmoke;
    vertical-align: baseline; 
/*
    position: absolute: 
    bottom: 0px; 
*/
}



.shadow{
    box-shadow: 0 3px 10px #8b8eaf; 
}

.shadow2{
    border: 1px inset;
    padding: 10px;
    box-shadow: 0 3px 10px #8b8eaf; 
}

.work_images{
    display:flex; 
    text-align: center; 
    margin-left: 20px; 
/*    box-shadow: 0 3px 10px #8b8eaf; */
}

.work_images img{
    width: 500px; 
    height: auto;
    display: flex; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    background-color: whitesmoke; 
}

/*Front page - nav link dimensions*/
.nav-links{
    flex: 1; 
    text-align: right; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
/*    font-size: 12; */
/*    line-height: inherit; */
/*    text-align: top; */
}

.nav-links ul li{
    list-style: none; 
    display: inline-block; 
    margin 0 20px; 
    font-size: 18; 
}

.nav-links ul li a{
    color: white; 
    text-decoration: none; 
    word-spacing: inherit; 
}

.nav-links ul li a2 a{
    color: white; 
    text-decoration: none; 
    word-spacing: inherit; 
}

/*Front page - name (top left) dimensions*/
.name{
    color: white; 
    text-align: center; 
    font-size: 20; 
    position: absolute; 
    bottom: -50px;
/*    position:relative*/
 these will bring the name above the image 
/*    bottom: -200px; */
/*    right: 450px; */

}

.name h1{
    font-family: Cambria,Georgia,serif; 
}


/*Front page - bio dimensions*/
.bio{
    text-align: right; 
    font-size: 50; 
/*    position: sticky; */
    position: absolute; 
    left: 620px; 
    bottom: 480px; 
}

.bio2{
    text-align: right; 
    font-size: 20; 
/*
    position: absolute; 
    bottom: 430px; 
    left: 625px; 
*/
}

.about-me-description{
    color: black; 
}



ul {
list-style: none;
background: black;
text-align: center; 
}

ul li {
display: block;
position: relative;
}

ul li a {
display: block;
padding: 18px 12px;
text-decoration: none;
text-align: center;
}

ul li a2 a {
display: block;
padding: 18px 4px;
text-decoration: none;
text-align: left;
}

ul li a:hover{
    background: grey; 
}

ul li a2:hover{
    background: grey; 
}

ul li ul.dropdown {
    width: 128px; 
    background: grey; 
    position: absolute; 
    z-index: 999; 
    display: none; 
}

ul li ul.dropdown2 {
    width: 112px; 
    background: grey; 
    position: absolute; 
    z-index: 999; 
    display: none; 
}

ul li ul.dropdown li{
    display:block; 
    background: lightgrey; 
    margin: 2px 0px; 
}

ul li ul.dropdown2 li{
    display:block; 
    background: lightgrey; 
    margin: 2px 0px; 
}


ul li:hover ul.dropdown{
    display: block; 
    position: absolute; 
    left: 0; 
    top: 100%; 
    padding: 1px; 
}

ul li:hover ul.dropdown2{
    display: block; 
    position: absolute; 
    left: 0; 
    top: 100%; 
    padding: 1px; 
}



.resume_button{
    background-color: gray; 
    color: white; 
    font-size: 18px; 
    position: absolute; 
    top: 7px; 
    left: 535px;
    border: 2px solid black;
    padding: 10px 24px;
/*    border: 8x solid black; border-radius: 8px; padding: 8px 18px; display: inline-block;*/
}

.resume_button:hover{
    background-color: lightgrey; 
    transition-duration: 0.4s;
}

/* what does active do again?? 
.resume_button:active{
  background-color: black; 
  color: black;
}
*/

/*
.resume_button button{
    font-size: 18px; 
    font-family: serif; 
}
*/

.contact{
     background-color:gray; color:black; font-size:20px; font-family: Cambria,Georgia,serif; position: absolute; bottom: 350px; left: 625px; border: 8x solid black; border-radius: 8px; padding: 8px 18px; display: inline-block;
}


.contact:hover{
    background-color: lightgray; 
    transition-duration: 0.4s;
}


/*
.test{
    background-color: white; 
    color: blue; 
    position: absolute; 
    top: 40px; 
    left: 490px;
    padding: 8px 18px; display: inline-block;
}

.test:hover{
    background-color: yellow; 
    transition-duration: 0.4s;
}
*/

/*
.bottom_buttons{
    background-color: aqua; 
    color: yellow; 
}
*/


.bottom_buttons{
/*    color:purple; */
/*    background-color: orange; */
    text-align: center; 
/*    margin-top: 360px; */
     border: 8x solid white;
}

.button1{
    background-color:black; color:white; font-size:20px; 	font-family: Cambria,Georgia,serif; border-radius: 8px; padding: 14px 28px; display: inline-block; border-color: white; margin: 10px; 
}

.button1:hover{
    background-color: lightgrey; 
    transition-duration: 0.4s;
}

.button2{
    background-color:dimgray; color:white; font-size:20px; 	font-family: Cambria,Georgia,serif; border-radius: 8px; padding: 14px 28px; display: inline-block; border-color: white; margin: 10px; 
}

.button2:hover{
    background-color: lightgrey; 
    transition-duration: 0.4s;
}


.experience_buttons{
    text-align: center; 
}

.experience_buttons_work{
        background-color:dimgray; color:white; font-size:20px; 	font-family: Cambria,Georgia,serif;  border-radius: 8px; padding: 14px 28px; display: inline-block; border-color: white; margin: 10px; 
}

.experience_buttons_volunteer{
        background-color:dimgray; color:white; font-size:20px; 	font-family: Cambria,Georgia,serif;  border-radius: 8px; padding: 14px 28px; display: inline-block; border-color: white; margin: 10px; 
}

.margin-left{
/*    margin-top: 25px; */
    padding: 25px; 
    text-align: center; 
/*    background-color: whitesmoke; */
}

h4 {
/*    color: dimgray; */
    color:gray; 
}

.background{
    background-color: whitesmoke; 
}


.about-me-description p {
    font-size: 20px; 
}

.red-asterik{
    content: "*";
    color: red;
}

/*Contact Me*/
.input-field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.contact-form{
    margin-left: 50px; 
    margin-right: 50px; 
    margin-top: 15px; 
}

.submit-button{
    background-color:dimgray; color:white; font-size:16px; 	font-family: Cambria,Georgia,serif;  border-radius: 8px; padding: 7px 14px; display: inline-block; border-color: white; margin: 3px;
}